@charset "UTF-8";

.box {
  margin: 58px 10px 20px 23%;
}

.ex {
  min-height: 120px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
